<div id="<%= dom_id coin %>">
  <tr>
    <td><%= coin.description %></td>
    <td><%= coin.acronym %></td>
    <td><%= image_tag coin.url_image, width: 30, heigth: 30 %></td>
    <td style="width: 100%; justfy-contente: space-between; display: flex">
      <span class="m-4">
        <%= link_to "Editar moeda", edit_coin_path(coin), class: "btn btn-primary" %> 
      </span>
      <span class="m-4">
        <%= button_to "Deletar moeda", coin, method: :delete, data: {confirm: "Tem certeza?"}, class: "btn btn-primary mt-1" %>
      </span>
      <span class="m-4">
        <%= link_to "Visualizar Moeda", coin, class: "btn btn-primary" %>
      </span>
    </td>
  </tr>
</div>
